extends layout

block header
    include temps/header
block content
    main.SDmain
        h2.pagetitle
        h1#text0.about-title Welcome, everyone.
        #text1.about-body.b
            p
                | I'm Erik.
                br
                |                     I'm a Software Developer.
        .about-body.c
            p
                | I made this happen with
                | Javascript and JQuery,
                | and this site is running Node.js
                | in the Express framework
        .about-body.d
            p
                | I like Java and PHP as well.
                | Programming makes me happy.
        .about-body.e
            p
                | I have recreated a few classic games in JavaScript.
                br
                |                     You can find these and my other works in my Portfolio.
        .about-body.f
            p
                | I write about my life occasionally. If that interests you, it drains out of my head into my Blog.
        .about-body.g
            p
                | I am currently seeking my first job in Software Development.
                br
                br
                |                     My Resume can be found on the Contact page.
        .about-body.h
            p
                | I hope you enjoy your time here.
        button#b.button  Play
    script(src='js/about.js')
block footer
    include temps/footer