footer
    .contact-social-media-block
        a.sm(href='https://www.instagram.com/accounts/login/?next=%2Fgrotz110%2F&source=follow')
            img.contact-social-media(src='Icons/if_instagram_online_social_media_photo_734395.svg')
        a.sm(href='https://www.linkedin.com/in/erik-gratz-126ba410b/')
            img.contact-social-media(src='Icons/if_linked_in_online_social_media_734393.svg')
        a.sm(href='https://www.facebook.com/chkltlabs')
            img.contact-social-media(src='Icons/if_online_social_media_facebook_734386.svg')
