
header.navbar
    .header
        h3.name
            a(href='/') Erik V Gratz
        a.links(href='/contact') this.contact()
        a.links(href='/blog') this.blog()
        a.links(href='/about') this.about()
        a.links(href='/portfolio') this.portfolio()
